@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #dfdfde;
}
/* <<<<<<< SignUp
======= */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn{
  @apply bg-white p-2 text-black font-bold rounded-2xl px-10 drop-shadow-lg;
}
.btnNav{
  @apply bg-blue-500 p-2 text-white font-bold rounded-2xl px-10 drop-shadow-lg;
}

.sbtn{
  @apply bg-white p-2 text-black font-bold rounded-2xl px-10 drop-shadow-lg border;
}

.input{
  @apply px-3 py-2 rounded-sm bg-gray-100 text-sm;
}
/* >>>>>>> main */
